window {
    background-color: rgba(20, 20, 20, 0.5); /* dark translucent background */
    color: #ffffff;
    border-radius: 12px;       /* Rounded corners for whole window */
    padding: 10px;
}


#entry {
    background-color: transparent;
    color: #ffffff;
}

#entry:selected {
    background-color: #6d9474; /* highlight color */
    color: #ffffff;
}

#input {
    background-color: #6d9474;   /* Search bar background */
    color: #c9ffd2;              /* Search bar text color */
    border: none;
    padding: 6px;
    margin: 6px;
    border-radius: 6px;
}

